/* Общие стили для шапки и страницы аккаунта */
.account-top-section {
    background-color: #f0f0f0;
    padding: 20px;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.account-button-section .row .col-6 {
    padding: 5px;
}

.settings-page {
    padding: 20px;
}

.settings-options {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.option {
    flex: 1;
    text-align: center;
}
