.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 90%; /* Уменьшаем ширину для адаптивности */
    max-width: 1200px; /* Ограничиваем максимальную ширину */
    max-height: 90%; /* Увеличиваем высоту, чтобы кнопка помещалась */
    overflow-y: auto; /* Скроллинг при необходимости */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%; /* Убираем фиксированную ширину формы */
}

label {
    font-size: 16px;
    font-weight: bold;
    display: inline-block; /* Убираем блочный стиль */
    white-space: nowrap; /* Отключаем перенос текста */
    margin-bottom: 5px; /* Отступ снизу */
    text-align: left; /* Выравнивание текста влево */
    margin-left: 0; /* Убираем возможные отступы слева */
}

input,
textarea {
    width: 100%; /* Поля растягиваются на всю ширину */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Центрируем кнопку */
    width: 200px; /* Фиксированная ширина кнопки */
}

button[type="submit"]:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .modal-content {
        width: 95%; /* Для мобильных устройств */
        padding: 15px;
    }

    input,
    textarea {
        font-size: 14px;
    }
}
