/* Задаем высоту для корневых элементов, чтобы flexbox мог работать */
html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Высота на весь экран */
}

/* Контейнер для основного содержимого между header и footer */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Выравнивание контента по центру */
}

header, footer {
  height: 60px; /* Устанавливаем фиксированную высоту для header и footer */
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}
